li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ListAll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid #faf3f0;
  border-radius: 2rem;
  margin-top: 1rem;
  width: 80%;
}

.List {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-right: 20px;
}

.IconButton {
  background: none;
  border: none;
  padding: 0;
}

.Icon {
  color: #756ab6;
  font-size: 1.5rem;
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
}

.Icon:hover {
  color: #5d3587;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.Date {
  font-size: 13px;
  font-weight: bold;
  color: #d35d6e;
}

.GapDay {
  font-size: 13px;
  font-weight: bold;
  color: #ffd966;
}

@media screen {
  .GapDay {
    font-size: 10px;
    font-weight: bold;
    color: #ffd966;
  }
}
