.AddTodo {
  background-color: #dfccfb;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 0 1rem;
}

.P,
.P2 {
  color: #faf3f0;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}

.Input {
  margin-left: 2rem;
  flex: 2;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Button {
  background-color: #756ab6;
  color: #f1eaff;
  border-radius: 0.5rem;
  border: none;
  width: 3rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.Button:hover {
  background-color: #5d3587;
}

@media screen {
  .P,
  .P2 {
    color: #faf3f0;
    font-weight: bold;
    font-size: 15px;
  }
}
